@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme @layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-neutral-200, currentColor);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@theme {
	--animate-slow-spin: spin 2s linear infinite;
}
