@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	/* Shared Colors */
	--color-primary: #5b6ef6; /* Soft blue */
	--color-accent: #7e57c2; /* Light purple */
	--color-success: #34d399; /* Green success */
	--color-info: #60a5fa; /* Info blue */
	--color-warning: #fbbf24; /* Amber */
	--color-danger: #f87171; /* Light red */

	/* Light Theme */
	--color-bg: #fafafa;
	--color-bg-secondary: #ffffff;
	--color-card-bg: #f4f4f5;
	--color-text: #111827;
	--color-text-secondary: #6b7280;
	--color-border: #e5e7eb;
	--color-error-bg: #fee2e2;
	--color-error-border: #fca5a5;
	--color-error-text: #b91c1c;

	/* Dark Theme */
	--color-bg-dark: #111111;
	--color-bg-secondary-dark: #18181b;
	--color-card-bg-dark: #232323;
	--color-text-dark: #f9fafb;
	--color-text-secondary-dark: #9ca3af;
	--color-border-dark: #fff3;
	--color-error-bg-dark: #3b1e1e;
	--color-error-border-dark: #ef4444;
	--color-error-text-dark: #fca5a5;

	--animate-slow-spin: spin 2s linear infinite;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border, currentColor);
	}

	[data-theme='dark'] &,
	[data-theme='dark'] * {
		border-color: var(--color-border-dark);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}
