@import 'tailwindcss';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-neutral-200, currentColor);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@theme {
	--animate-slow-spin: spin 2s linear infinite;
}
